
  body {
            background-color: #000;
            color: #fff;
            margin: 0;
            padding: 0;
        }
        #information-museum{
            color:white;
            font-size: 19px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .tour{
           font-size: 19px;
           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
           color: white;
           background-color: #000; 
        }
        .information{
            background-color: #000;
            color: #fff;
            font-size: 18px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        header {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background: linear-gradient(90deg, #ff00ff, #0000ff);
            padding: 20px;
        }
        nav ul {
            list-style: none;
            padding: 0;
        }
        nav ul li {
            margin: 0 15px;
        }
        nav ul li a {
             background: linear-gradient(90deg, aqua, #0000ff);
            color: #fff;
            text-decoration: none;
        }
        nav ul li a:hover{
            color: red;
            font-size: 23px;
        }
        #Gallery {
            gap: 20px;
            padding: 20px;
        }
        .photo {
            width: 300px;
            height: auto;
            border: 5px solid #fff;
            transition: transform 0.3s ease;
        }
        .photo:hover {
            transform: scale(1.1);
        }
        form {
          width: 400px;
            background-color: #222;
            padding: 20px;
            border-radius: 10px;
            display: inline-block;
            text-align: left;
        }
        form label, form input, form textarea {
            display: block;
            margin: 10px;
            width: 90%;
        }
        form input, form textarea {
            padding: 10px;
            border: 1px solid #fff;
            background: #333;
            color: #fff;
        }
        form button {
            background: #4400ff;
            color:#fff;
            border: 1px solid #4400ff;
            border-radius: 40px;
            padding: 10px 20px;
            cursor: pointer;
        }
        form button:hover {
            border: 5px solid #ff00ff;
            border-radius: 40px;
            background:#ff00ff;
        }
        footer {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            background: linear-gradient(90deg, #0000ff, #ff00ff);
            padding: 10px;
            margin-top: 20px;
        }